body {
display:grid;
grid-template-columns: 1fr 1fr;
width:10vw;
overflow-x:hidden;
}
.main-body {
   display:inline-block;
   width:92vw;
}
.Header {
    display:flex;
    justify-content: space-between;
    padding:5px;
    position:sticky;
}
.logo {
    height:20px;
}
.side-bar {
    height:100vh;
    font-size:10px;
    text-align: center;
}
.items {
    padding-top:50px;
}
.side-bar-item {
    padding-top:45px;
}
.search-feature {
    display:flex;
    flex-grow: 1;
    margin:0 20rem 0 15rem;
}
 .search-input {
    padding:8px;
    padding-left:5px;
    width:100%;
}
.search-button {
    background-color:#f3f2f2 ;
    cursor:pointer;
    padding:3.5px;
    border: 1px solid #e0e0e0;
}
.sign-btn {
    background-color: white;
    color:#3b3bda;
    border:1px solid #3b3bf7;
    padding:10px;
    font-weight:bold;
    margin-right:-28px;
    text-transform: uppercase;
}
.search-icon {
    padding-left:10px;
    padding-right:10px;
}

.tag-bar {
    border:1px solid #e0e0e0;
    padding:15px;
    border-right:none;
    border-left:none;
    overflow-x:scroll;
    width: 100%;
    overflow-y:hidden;
    white-space:nowrap;
}
.Tag {
    background-color: #f3f2f2;
    border: 1px solid #e0e0e0;
    Border-radius:14px;
    padding:6px 10px;
    margin-right:0.5vw;
}
.Tag:hover {
    background-color:#e0e0e0;
    cursor:pointer;
}
.video {

}