.container {
    display:flex;
    justify-content: space-between;
}
.search {
    margin-top: 8px;
    padding:5px;
}
.sign-btn {
    background-color: white;
    color:#3b3bda;
    border:2px solid #3b3bf7;
    padding:10px;
    font-weight:bold;
    margin-right:17px;
    text-transform: uppercase;
}
.tag-bar {
    border:1px solid #e0e0e0;
    padding:15px;
    border-right:none;
    border-left:none;
    overflow-x:scroll;
    width: 100%;
    overflow-y:hidden;
    white-space:nowrap;
}
.Tag {
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
    Border-radius:14px;
    padding:5px 10px;
    margin-right:0.5vw;
}
.Tag:hover {
    background-color:#e0e0e0;
    cursor:pointer;
}