.container {
    display:flex;
    background-color: #c01e1e;;
    padding: 1vw;
    justify-content: space-between;
}

.tag-bar {
    border:1px solid black;
}
.btn {
    background-color: white;
    color:#3b3bda;
    border:2px solid #3b3bf7;
    padding:10px;
    font-weight:bold;
}